<h1>Drill</h1>

<!-- Question -->
<div>
  <h2><%= @quiz.question%></h2>
</div>


<!-- Answer -->
<%= form_tag("/drill_check/#{@quiz.id}",method: :post) do %>
<label class="radio-inline">
  <input type="radio" name="answer" id="inlineRadio1" value="<%= @quiz.select1 %>"> <%= @quiz.select1 %>
</label>
<label class="radio-inline">
  <input type="radio" name="answer" id="inlineRadio2" value="<%= @quiz.select2 %>"> <%= @quiz.select2 %>
</label>
<label class="radio-inline">
  <input type="radio"  name="answer" id="inlineRadio3" value="<%= @quiz.select3 %>"> <%= @quiz.select3 %>
  </label>
 <p></p>
<br><input type="submit">
<% end %>
<!--
<%= form_tag("/check/#{@quiz.id}",method: :post) do %>
<p></p>
    <input name="answer">
 <p></p>
<br><input type="submit">
<% end %>
-->

 <!-- Button trigger modal -->
<div class="hint-modal-button">
  <button type="button" class="btn login-btn" data-toggle="modal" data-target="#exampleModal">
  ヒント
  </button> 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <%= form_tag("/users/login") do %>
        <!--
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" align="center">あいことば</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span> 
        </button>
      </div> -->
      <div class="modal-body login-modal">
        
       <p></p>
      <!-- <img src="/key.png" class="login-key">
      <input class="form-control" name="username"> -->
      
           <div class="form-group row">
             <!-- <label for="inputPassword" class="col-sm-2 col-form-label"><img src="/key.png" class="login-key"></label> -->
               <div class="col-sm-10">
                   <%= @quiz.hint %>
               <!--  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="username"> -->
               </div>
      </div>

      </div>
      <!-- <div class="modal-footer">
       <!--  <input type="submit" value="Login" class="btn" class="modal-login-button"> -->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button> -->
      </div> 
      <% end %>
    </div>
  </div>

